In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/maslo/Desktop/karpov_start_ml/1_module/5_lesson/data.csv')

In [3]:
df

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77255,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans, guacamole, sour cream, chee...",Super Burrito,La Casona Taqueria,California
77256,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"melted cheese, rice, beans & salsa",Steamed Broccoli Burrito,La Casona Taqueria,California
77257,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,meat & salsa,Regular Taco,La Casona Taqueria,California
77258,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"meat, rice, beans & salsa",Regular Burrito,La Casona Taqueria,California
77259,AVzRLlQNLD2H7whiWdH_,3919 24th St.,Restaurant,San Francisco,Mexican,2017-06-22T19:01:33Z,2017-06-22T19:01:33Z,37.751392,-122.430180,NaN,USD,2017-06-22T16:40:06.448Z,"stuffed with rice, beans, meat, topped with en...",Azteca Burrito,La Casona Taqueria,California

In [78]:
', '.join(list(df['dateAdded'].head(3)))

'2016-03-02T11:49:34Z, 2016-03-02T11:49:34Z, 2016-10-14T01:58:25Z'

In [79]:
df.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

In [80]:
df.describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

In [81]:
len(df)

77260

In [82]:
len(df.dropna())

1925

In [83]:
df[df['city'] == 'California'].index

Int64Index([40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937,
            52938, 52939, 65070],
           dtype='int64')

In [84]:
list(df[(df['city'] == 'California') & (df['name'] == 'Taco Bell')].index)

[52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939]

In [4]:
data = df

In [86]:
result = data[((data['city'] == 'New York') | (data['name'] == 'Taco Bell'))
              & ~(data['menus.name'].isin(['Volcano Taco', 'Fresco Soft Taco']))]

In [88]:
result = data[~(data['menus.currency'].isna())]

In [90]:
data['categories']

0        Restaurant Delivery Service,Restaurants,Pizza,...
1        Restaurant Delivery Service,Restaurants,Pizza,...
2             Golf Course, American Restaurant, and Resort
3                                     Fast Food Restaurant
4        Mexican Restaurant Mid-City West,Mexican Resta...
                               ...
77255                                           Restaurant
77256                                           Restaurant
77257                                           Restaurant
77258                                           Restaurant
77259                                           Restaurant
Name: categories, Length: 77260, dtype: object

In [91]:
type(data['categories'])

pandas.core.series.Series

In [92]:
data[['categories']]

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

In [93]:
type(data[['categories']])

pandas.core.frame.DataFrame

In [94]:
', '.join(
    list(
        data
        .groupby('city')['city']
        .count()
        .sort_values(ascending=False)
        .head(5)
        .index
    )
)

'San Diego, Los Angeles, Chicago, San Francisco, New York'

In [95]:
result = data \
    [data['name'] == 'Taco Bell'] \
    .groupby('city')['city'] \
    .count() \
    .sort_values(ascending=False) \
    .head(5)

In [96]:
result

city
Indianapolis    84
Columbus        63
Charleston      63
Tampa           62
Fresno          42
Name: city, dtype: int64

In [97]:
list(
    data
    [pd.to_datetime(data['dateAdded'])
     .dt
     .month == 10]
    .head(5)
    .index
)

[2, 21, 22, 23, 24]

In [98]:
result = pd.DataFrame(
    data.
    groupby(pd.
            to_datetime(data['dateAdded'])
            .dt
            .month
           )
    ['id']
    .nunique()
)

In [99]:
result

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [100]:
data['update_delta'] = (pd.to_datetime(data['dateUpdated']) - pd.to_datetime(data['dateAdded'])).dt.days

In [105]:
result = data \
    .groupby('city', as_index=False) \
    .agg({'update_delta':'mean', 
          'latitude': 'max'
         }
        )

In [106]:
result

              city  update_delta   latitude
0        Abbeville    114.857143  29.982108
1         Aberdeen     81.625000  46.975110
2          Abilene    206.454545  32.453090
3         Abingdon    303.500000  36.712800
4         Abington    393.000000  40.124851
...            ...           ...        ...
3596       Zebulon      0.000000  33.102090
3597   Zephyr Cove    105.500000  38.984947
3598   Zephyrhills    329.695652  28.271183
3599  Zieglerville    621.000000  40.291611
3600    Zionsville    151.500000  39.954970

[3601 rows x 3 columns]

In [111]:
zep_mean = data \
    [data['city'] == 'Zephyrhills'] \
    .groupby('city', as_index=False) \
    ['update_delta'] \
    .mean() \
    .loc[0] \
    ['update_delta']

In [112]:
zep_mean

329.69565217391306

In [131]:
data[data['categories'].str.contains('Pizza')].head(3).index[2]

66

In [138]:
print(
    round(data['update_delta'].mean(), 2),
    round(data['update_delta'].median(), 2)
)

326.22 364.0

In [149]:
len(data)

77260

In [12]:
data.head(3)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson

In [11]:
len(data.loc[3]['categories'].split())

3

In [13]:
def get_categories_len(row):
    return len(row['categories'].split(','))

In [14]:
data['categories_len'] = data.apply(get_categories_len, axis=1)

In [15]:
len(data[data['categories_len'] > 20])

34

In [16]:
result = data[data['categories_len'] > 20].groupby('province')['longitude'].min().round(3)

In [17]:
len(result)

13

In [19]:
result.to_csv('C:/Users/maslo/Desktop/karpov_start_ml/1_module/5_lesson/result.csv', sep=';')